Werkzeug~=3.0.4
Flask~=3.0.3
Flask-Login~=0.6.3
python-dotenv~=1.0.1
Flask-Migrate~=4.0.7
alembic~=1.13.3
SQLAlchemy~=2.0.35
flask_sqlalchemy
psycopg2-binary
flask_jwt_extended
pillow~=11.0.0
Flask-JWT-Extended~=4.7.1
pydantic~=2.10.5
redis~=5.2.1
flask-cors~=5.0.1