Werkzeug
Flask
python-dotenv
Flask-Migrate
alembic
SQLAlchemy
flask_sqlalchemy
psycopg2-binary
flask_jwt_extended
pillow
Flask-JWT-Extended
pydantic
flask-cors
flask-pydantic
tavern
pytest
boto3
gevent