@font-face {
    font-family: "Source Serif Pro";
    src: url("https://fonts.googleapis.com/css?family=Source Serif Pro");
}
body {
    font-family: "Source Serif Pro";
    margin: 0;
    padding: 0;
    /*background: url('static/images/2.avif') no-repeat center center fixed;*/
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}

a {text-decoration: none;}

.menu {
    padding: 10px 30px;
    border-bottom: 2px solid #E5E8EB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 3vw;
}

.nav{
    display: flex;
    align-items: center;
    white-space: nowrap
}

.menu-button {
    color: black;
    white-space: nowrap
}

.title {
    font-size: 1.4em;
    margin-right: 7vw;
}

.center{
    display: flex;
    gap: 10px;
    margin-right: 7vw;
}

.school {
    margin-right: 3vw;
}

.end{
    display: flex;
}

.menu-create {
    background-color: #1A80E5;
    border-radius: 12px;
    color: white;
    padding: 10px 15px;
    margin-right: 10px;
}

.settings {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.menu-image {
    width: 25px;
    height: auto;
    background-color: #E8EDF2;
    border-radius: 12px;
    align-self:center;
    padding:10px;
    margin-bottom: 0;
}

.button-search {
    display: flex;
    align-items: center;
}

.loupe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    border-radius: 12px 0 0 12px;
    padding: 0px 0px 0px 16px;
    width: 45px;
    height: auto;
    background: #f0f2f5;
}

.search {
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    border-radius: 0 12px 12px 0;
    padding: 10px 16px 10px 8px;
    width: 500px;
    height: 45px;
    background: #f0f2f5;
    justify-self: end;
}

.news-main {
    margin: 0 2vw;
    display: grid;
    grid-template-areas: "filter filtertimeline"
                        "news-table timeline";
   
    
}

.filter {
    grid-area: filter;
    width:70vw;
    height: 40px;
    display: flex;
    margin-left:1vw;
    border-bottom: 3px solid rgba(119, 119, 119, 0.356);
    margin-right: 4vw;
    

}

.filter-button {
    color: rgb(68, 67, 75);
    border-bottom: 5px solid rgba(119, 119, 119, 0.644);
    margin-right: 3vw;
    padding-bottom: 1vw;;
}

.news-table {
    width:70vw;
    grid-area: news-table;
    margin-left:1vw;
    
}

.timeline {
    width: 1fr;
    grid-area: timeline;
    grid-row: span 2;
    overflow: hidden
}

.news {
    
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
}

.text-block {
    display: flex;
    flex-direction: column;
    width: 50%;
    word-wrap: break-word;
}

.news-image {
    width:20em;
    height: fit-content;
    margin-right: 3vw;
    border-radius: 12px;
}

p {
    margin: 0;
    padding: 0;
}

.text {
    margin-bottom: 10px;
}

.news-nickname, .new-decription {
    font-size: 1.2em;
    color: rgb(124, 124, 124);
}

.news-title {
    font-size: 1.35em;
}