@font-face {
    font-family: "Source Serif Pro";
    src: url("https://fonts.googleapis.com/css?family=Source Serif Pro");
}
body {
    font-family: "Source Serif Pro";
    margin: 0;
    padding: 0;
    /*background: url('static/images/2.avif') no-repeat center center fixed;*/
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
}

a {text-decoration: none;}

.menu {
    padding: 10px 30px;
    border-bottom: 2px solid #E5E8EB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 40px;
}

.nav{
    display: flex;
    align-items: center;
    white-space: nowrap
}

.menu-button {
    color: black;
    white-space: nowrap
}

.title {
    font-size: 1.4em;
    margin-right: 7vw;
}

.center{
    display: flex;
    gap: 10px;
    margin-right: 7vw;
}

.school {
    margin-right: 3vw;
}

.end{
    display: flex;
}

.menu-create {
    background-color: #1A80E5;
    border-radius: 12px;
    color: white;
    padding: 10px 15px;
    margin-right: 10px;
    max-height: 25px;
    margin-top: 4px;
}

.settings {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.menu-image {
    width: 25px;
    height: auto;
    background-color: #E8EDF2;
    border-radius: 12px;
    align-self:center;
    padding:10px;
    margin-bottom: 0;
}

.button-search {
    display: flex;
    align-items: center;
    background: #f0f2f5;
    border-radius: 12px;
    margin-right: 5px;
}

.loupe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0px;
    padding: 0px 0px 0px 16px;
    width: 45px;
    height: auto;
}

.search {
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    border-radius: 0 12px 12px 0;
    padding: 10px 16px 10px 8px;
    width:440px;
    height: 45px;
    background: #f0f2f5;
    justify-self: end;
}

.news-main {
    display: grid;
    grid-template-areas: "filter timeline"
                         "news-table timeline";
    justify-content: space-around;
}

.filter {
    grid-area: filter;
    width:70vw;
    height: 40px;
    display: flex;
    margin-left:1vw;
    border-bottom: 3px solid rgba(119, 119, 119, 0.356);
}

.filter-button {
    color: rgb(68, 67, 75);
    border-bottom: 5px solid rgba(119, 119, 119, 0.644);
    margin-right: 3vw;
    padding-bottom: 1vw;;
}

.active {
    border-bottom: 5px solid black;
}

.news-table {
    width:70vw;
    grid-area: news-table;
    margin-left:1vw;
}

.news {
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.281);
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    align-items: center; 
    transition: transform 0.2s ease;
}

.text {
    margin-bottom: 10px;
}

.text-block {
    display: flex;
    flex-direction: column;
    width: 50%;
    word-wrap: break-word;
}

p {
    margin: 0;
    padding: 0;
}

.news-nickname, .new-decription {
    font-size: 1.2em;
    color: rgb(124, 124, 124);
}

.news-title {
    font-size: 1.35em;
}

.news-image {
    width:20em;
    height: fit-content;
    border-radius: 12px;
    border: 1px solid black;
}

.timeline {
    grid-area: timeline;
    grid-row: span 2;
    overflow: hidden;
}

.time-block {
    display: flex;
    justify-self: start;

}

.marks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    
   
}

.cube {
    width: 20px;
    height: 20px;
    border: 3px solid black;
    border-radius: 5px;
    transition: 0.5s;
    transition-delay: 0.3s;
}

.line-1 {
    margin: 5px 0;
    width: 3px;
    height: 45px;
    background-color: rgba(128, 128, 128, 0.356);
    transition: 0.5s;
    transition-delay: 0.15s;
}

.line-2 {
    width: 3px;
    height: 10px;
    background-color: rgba(128, 128, 128, 0.356);
    transition: 0.5s;
}

.time-name {
    font-size: 1.15em;
}

.time-valid{
    font-size: 1.05em;
}

.time-passed {
    color: #4F7396;
}

.highlight {
    background-color: yellow;
}

.arrow-button {
    padding: 5px 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.news_link{
    color: black;
}
a:visited{
    color: black;
}

 .timeline-link:hover .marks .line-1, .timeline-link:hover .marks .line-2, .timeline-link:hover .marks .cube{
    background-color: rgba(72, 182, 105, 0.411);
 }