<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin.css') }}">
</head>
<body>
    <nav>
        <a href="#" id="create-link">Создать</a>
        <a href="#" id="moderate-link">Модерация</a>
    </nav>

    <div class="content">
        <div id="create-section" class="hidden">
            <h2>Выберите, что вы хотите создать:</h2>
            <select id="create-type">
                <option value="" selected>Выберите тип</option>
                <option value="wallpaper">Стенгазета</option>
                <option value="post">Пост</option>
            </select>

            <div class="hidden" id="create-post">
                {% block content %}
                    {% include 'canvas.html' %}
                {% endblock %}
            </div>
        </div>

        <div id="moderate-section" class="hidden">
            <h2>Модерация</h2>
            <p>Секция для модерации пока пустая.</p>
        </div>
    </div>

    <script>
        const createLink = document.getElementById('create-link');
        const moderateLink = document.getElementById('moderate-link');
        const createSection = document.getElementById('create-section');
        const moderateSection = document.getElementById('moderate-section');
        const createType = document.getElementById('create-type');
        const wallpaperForm = document.getElementById('wallpaper-form');
        const postForm = document.getElementById('post-form');
        const createPost = document.getElementById('create-post');

        createLink.addEventListener('click', (e) => {
            e.preventDefault();
            createSection.classList.remove('hidden');
            moderateSection.classList.add('hidden');
        });

        moderateLink.addEventListener('click', (e) => {
            e.preventDefault();
            createSection.classList.add('hidden');
            moderateSection.classList.remove('hidden');
        });

        createType.addEventListener('change', () => {
            const value = createType.value;

            let route = '';

            if (value === 'wallpaper') {
                route = '/admin/wallpaper';
            } else if (value === 'post') {
                // route = '/admin/post';
                createPost.classList.remove('hidden');
            }

            if (route) {
                window.location.href = route;
            }
        });
    </script>
</body>
</html>