<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/admin.css') }}">
</head>
<body>
    <nav>
        <a href="#" id="create-link">Создать</a>
        <a href="#" id="moderate-link">Модерация</a>
    </nav>

    <div class="content">
        <div id="create-section" class="hidden">
            <h2>Выберите, что вы хотите создать:</h2>
            <select id="create-type">
                <option value="" selected>Выберите тип</option>
                <option value="wallpaper">Стенгазета</option>
                <option value="post">Пост</option>
            </select>

            <div class="hidden" id="create-post">
                {% block content %}
                    {% include 'canvas.html' %}
                {% endblock %}
            </div>
        </div>

        <div id="moderate-section" class="hidden">
            <h2>Модерация</h2>
            <p>Секция для модерации пока пустая.</p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='/js/admin.js') }}"></script>
</body>
</html>