<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>

<div class="container">
    <h1>Привет, пользователь!</h1>
    <p>Добро пожаловать на наш сайт! Пожалуйста, выбери школу из списка, чтобы продолжить.</p>
    <form action="/routes/events" method="GET">
        <label for="school">Выберите школу:</label>
        <select id="school" name="school">
            <option value="1561" selected>Школа 1561</option>
            <option value="1234">Школа 1234</option>
            <option value="7890">Школа 7890</option>
            <option value="2345">Школа 2345</option>
        </select>
        <br><br>
        <button type="submit">Далее</button>
    </form>
</div>

</body>
</html>
