<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .textbox {
            position: absolute;
            color: black;
            white-space: pre;
        }
    </style>
</head>
<body>
<div id="newspaper"></div>

<script>
    {#let data = document.getElementById("newspaper").textContent#}
    let json = localStorage.getItem("newspaperLayout");
    let data = JSON.parse(json);
    data = data["dataURL"]

    function renderCanvas(json) {
        console.log(json)
            json["objects"].forEach(obj => {
                if (obj.type === "textbox") {
                    let div = document.createElement("div");
                    div.classList.add("textbox");
                    div.textContent = obj.text;
                    div.style.left = obj.left + "px";
                    div.style.top = obj.top + "px";
                    div.style.fontSize = obj.fontSize + "px";
                    div.style.fontFamily = obj.fontFamily;
                    document.body.appendChild(div);
                } else if (obj.type === "image") {
                    let img = document.createElement("img");
                    img.src = obj.src;
                    img.style.position = "absolute";
                    img.style.left = obj.left + "px";
                    img.style.top = obj.top + "px";
                    img.style.width = obj.width * obj.scaleX + "px";
                    img.style.height = obj.height * obj.scaleY + "px";
                    img.style.opacity = obj.opacity;
                    document.body.appendChild(img);
                }
            });
        }

        renderCanvas(data);
</script>
</body>
</html>